<!DOCTYPE html>
<html>
  <%-include("./partials/head") %>
  <body class="text-primary">
    <%-include('./partials/nav-en.ejs') ;%>
    <section class="my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4"><%-include("./partials/sidebar")%></div>
          <div class="col-md-8">
    <form method="post" action="/admin-en">
    <button type="submit">Update</button>
    <%
          for(let i = 1;i<=7;++i)
          {
                        %>
                        <div class="data">
              <%- include(`en/${i}.html`)%>
              </div>

            <textarea name="<%="e"+i%>"> 
              </textarea>
    <%
          }
    %>
    </form>

    <!-- generates editors-->
    <script> 
      const areas = $("textarea");
      const data = $(".data");
      for(let i = 0; i<data.length; ++i)
      {
        let content = data[i].innerHTML;// gets content
        let editor = $(areas).eq(i).summernote("code",content);// creates editor
        data.eq(i).remove();// deletes data holder element 
      }

      </script>          </div>
        </div>
      </div>
    </section>
    <%-include('./partials/footer-en.ejs') %>
  </body>
</html>



