<!DOCTYPE html>
<html>
  <%-include("./partials/head") %>
  <body class="text-primary">
    <%-include('./partials/nav-en.ejs') ;%>
    <header class="mb-5">
      <iframe
        scrolling="no"
        allowtransparency="true"
        style="box-sizing: border-box; height: 46px; width: 100%"
        src="https://s.tradingview.com/embed-widget/ticker-tape/?locale=en#%7B%22symbols%22%3A%5B%7B%22proName%22%3A%22FX_IDC%3AEURUSD%22%2C%22title%22%3A%22EUR%2FUSD%22%7D%2C%7B%22description%22%3A%22%22%2C%22proName%22%3A%22OANDA%3AAUDUSD%22%7D%2C%7B%22description%22%3A%22%22%2C%22proName%22%3A%22OANDA%3AGBPUSD%22%7D%2C%7B%22description%22%3A%22%22%2C%22proName%22%3A%22CURRENCYCOM%3AGOLD%22%7D%2C%7B%22description%22%3A%22%22%2C%22proName%22%3A%22OANDA%3AUSDJPY%22%7D%2C%7B%22description%22%3A%22%22%2C%22proName%22%3A%22USDCHF%22%7D%2C%7B%22description%22%3A%22%22%2C%22proName%22%3A%22USDCAD%22%7D%5D%2C%22colorTheme%22%3A%22light%22%2C%22isTransparent%22%3Afalse%2C%22displayMode%22%3A%22adaptive%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A46%2C%22utm_source%22%3A%22moneymaker.vn%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22ticker-tape%22%7D"
        frameborder="0"
      ></iframe>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-5">
            <img
              class="img-fluid"
              data-aos="fade-right"
              src="/assets/img/Bitcoin%20P2P-amico.svg?h=35993449df8024cf58dc180270a98013"
            />
          </div>
          <div
            class="col-12 col-sm-12 col-md-6 col-lg-7 d-md-flex align-items-md-center editable"
          >
            <%- include("./en/1.html"); %>
          </div>
        </div>
      </div>
    </header>
    <% if (data.youtube) {%>
    <section class="mb-5">
      <div class="container"><%-data.youtube%></div>
    </section>
    <%}%>
    <section class="mb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4"><%- include("./en/2.html"); %></div>
          <div class="col-lg-4"><%- include("./en/3.html"); %></div>
          <div class="col-lg-4">
            <%- include("./en/4.html"); %><img
              class="img-fluid"
              src="/assets/img/Product%20tour-pana.svg?h=3e2f9d0568f4d7623d15f13a40b3418c"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- Start: Footer Dark -->
    <div class="footer-dark">
      <footer>
        <div class="container">
          <div class="row">
            <!-- Start: Services -->
            <div class="col-sm-6 col-md-3 item">
              <%- include("./en/5.html"); %>
            </div>
            <!-- End: Services -->
            <!-- Start: About -->
            <div class="col-sm-6 col-md-3 item">
              <%- include("./en/6.html"); %>
            </div>
            <!-- End: About -->
            <!-- Start: Footer Text -->
            <div class="col-md-6 item text"><%- include("./en/7.html"); %></div>
            <!-- End: Footer Text -->
          </div>
          <!-- Start: Copyright -->
          <p class="copyright">
            Made by <a href="https://loaloa.tech">Loa Loa Tech</a>
          </p>
          <!-- End: Copyright -->
        </div>
      </footer>
    </div>
    <!-- End: Footer Dark -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="/assets/js/script.min.js?h=be38833756eec81f7d0744dc18c888c9"></script>
  </body>
</html>
