<!DOCTYPE html>
<html>
  <%-include("./partials/head") %>
  <body class="text-primary">
    <%-include('./partials/nav-vi.ejs') ;%>
    <section class="my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4"><%-include("./partials/sidebar")%></div>
          <div class="col-md-8">
            <form
              action="/upload-vi"
              enctype="multipart/form-data"
              method="post"
              class="mb-3"
            >
              <div class="form-group">
                <label for="file">Chọn file</label>
                <input
                  type="file"
                  name="file"
                  class="form-control-file"
                  id="file"
                />
              </div>

              <button
                type="submit"
                value="Upload"
                class="btn btn-sm btn-outline-primary"
              >
                Tải lên
              </button>
            </form>
            <%= message %>
          </div>
        </div>
      </div>
    </section>

    <%-include('./partials/footer-vi.ejs') %>
  </body>
</html>
