<!DOCTYPE html>
<html>
  <%-include("./partials/head") %>
  <body class="text-primary">
    <%-include('./partials/nav-en.ejs') ;%>

    <section class="my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4"><%-include("./partials/sidebar")%></div>
          <div class="col-md-8">
            <form action="/video" method="post" class="mb-3">
              <div class="form-group">
                <label for="URL">URL</label>
                <input
                  type="text"
                  id="URL"
                  name="URL"
                  class="form-control"
                  value="<%=data.youtube%>"
                />
              </div>
              <button
                type="submit"
                value="Upload"
                class="btn btn-sm btn-outline-primary"
              >
                Upload
              </button>
            </form>
            <%= message %>
            <form action="/description" method="post" class="mb-3">
              <div class="form-group">
                <label for="desc">Description</label>
                <input
                  type="text"
                  id="desc"
                  name="description"
                  class="form-control"
                />
              </div>
              <button
                type="submit"
                value="Upload"
                class="btn btn-sm btn-outline-primary"
              >
                Change
              </button>
            </form>
            <a href="/admin">admin here!</a>
          </div>
        </div>
      </div>
    </section>

    <%-include("./partials/footer-en") ;%>
  </body>
</html>
